<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:olive;"><b>Project Task Issue Unique Sequence Number</h2>
           <p class="oe_mt32" style="color:olive;">
This module will generate task and issue unique number for your projects. Please see video in Live Preview.<br>
        </p>
<p style="color:olive;"> Features:<br>
- Unique number of project.<br>
- Unique number of task of project.<br>
- Unique number of task without project.<br>
- Unique number of issue of project.<br>
- Unique number of issue without project.<br>
- Automatically update task sequence if project is changed on task.<br>
- Automatically update issue sequence if project is changed on issue.<br>
</p>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Project Unique Sequence Number</b></h3>
<p> 
        <center><h4 style="color:olive;">Project Without Set Prefix</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_2.png">
       </div>
       <center><h4 style="color:olive;">Project With Set Prefix Manually</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_1.png">
       </div>
       <center><h4 style="color:olive;">Task Sequence Number</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_41.png">
       </div>
       <center><h4 style="color:olive;">Issue Sequence Number</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_51.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Unique Sequence Number of Task</b></h3>
       <center><h4 style="color:olive;">Task Create Sequece Number Without Selecting Project - General Sequence Number</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_7.png">
       </div>
        <center><h4 style="color:olive;">Task Create Sequece Number With Selecting Project - Using Project Sequnece As Prefix</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_6.png">
       </div>
   </div>
</section>

<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Unique Sequance Number of Issue</b></h3>
       <center><h4 style="color:olive;">Issue Create Sequece Number Without Selecting Project - General Sequence Number</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_9.png">
       </div>
        <center><h4 style="color:olive;">Issue Create Sequece Number With Selecting Project - Using Project Sequnece As Prefix</h4></center>
       <div class="oe_demo oe_screenshot">
           <img src="proj_8.png">
       </div>
   </div>
</section>

<section class="oe_container" >
   <div class="oe_row oe_spaced">
       <div class="oe_span6">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
       </div>
       <div class="oe_span6">
           <p class="oe_mt32">
               If you need any help or want more additional features,<br/> you may contact us through:<br/>
               Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               Website: <a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               Skype: mustufa_probuse<br/>
           </p>
       </div>
   </div>
</section>


