<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Round Off value</h2>
        <p class="oe_mt32 text-center">
        	In odoo default the amount total is not rounded off.
			This module helps to Round off total in purchase, sale and invoice.
			</p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            
            <p class="oe_mt32 text-center">
            The default amount total values is shown below.
            </p> 
            <img class="oe_picture oe_screenshot" src="Default.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        <h2 class="oe_slogan" style="color:#875A7B;">Sale</h2>
            <p class="oe_mt32 text-center">
            After installing the module.
            In sale the total amount is rounded off and the rounded value is given.
            </p> 
            <img class="oe_picture oe_screenshot" src="sales.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Purchase</h2>
            <p class="oe_mt32 text-center">
            In purchase the total amount is rounded off and the rounded value is given.
			If the 'Apply round off' is not checked, the total will not be rounded off.
            </p>
            <img class="oe_picture oe_screenshot" src="Purchase.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Accounting</h2>
             <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 1:</b>
            </h4>
            <p class="oe_mt32 text-center">
            In settings, round off should be selected.
            </p>
            <img class="oe_picture oe_screenshot" src="accounting settings.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 2:</b>
            </h4>
            <p class="oe_mt32 text-center">
             In invoice the total amount is rounded off and the rounded value is given.
            </p>
            <img class="oe_picture oe_screenshot" src="Invoice.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 3:</b>
            </h4>
            <p class="oe_mt32 text-center">
            A journal item will be created for the rounded value.
            </p>
            <img class="oe_picture oe_screenshot" src="Journal Item.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_spaced" style="padding-right:10%;padding-left:10%;">
        <div class="oe_span12">
            <h3 style="margin-top:20px;font-size:30px;font-weight:500;text-align:center;">Looking for support? We are here to help you!</h3>
            <p class="oe_mt32" style="font-size:14px;">
                As an official <b>Odoo Silver Partner</b>, <a href="http://www.pptssolutions.com">PPTS</a>, with its 9+ years of Expertise and Experienced niche in Odoo Projects, can assist you in enhancing your business processes and work system by
                automating and streamlining the business functionalities through the advanced and customized latest technological solutions.
            </p>
        </div>
        <div class="oe_span12">
            <h3 style="margin-top:20px;font-size:25px;font-weight:500;">Our Odoo Services</h3>
            <div class="row" style="margin-top:20px;">
                <div style="width: 33%; text-align: center;">
                    <img src="ppts/odoo-erp-customization.svg" style="width: 100px; height:100px; margin-bottom: 20px;" class="center-block"/>
                    <p><a href="https://www.pptssolutions.com/odoo-erp-implementation/" style="font-size:14px;">Odoo ERP Implementation</a></p>
                </div>
                <div style="width: 33%; text-align: center;">
                    <img src="ppts/odoo-erp-implementation.svg" style="width: 100px; height:100px; margin-bottom: 20px;" class="center-block"/>
                    <p><a href="https://www.pptssolutions.com/odoo-erp-customization/" style="font-size:14px;">Odoo ERP Customization</a></p>
                </div>
                <div style="width: 33%; text-align: center;">
                    <img src="ppts/odoo-erp-integration.svg" style="width: 100px; height:100px; margin-bottom: 20px;" class="center-block"/>
                   <p><a href="https://www.pptssolutions.com/odoo-erp-integration/" style="font-size:14px;">Odoo ERP Integration</a></p>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div style="width: 60%;text-align: center;">
                    <img src="ppts/odoo-erp-migration.svg" style="width: 100px; height:100px; margin-bottom: 20px;" class="center-block"/>
                    <p><a href="https://www.pptssolutions.com/odoo-erp-migration/" style="font-size:14px;">Odoo ERP Migration</a></p>
                </div>
                <div style="width: 15%;text-align: center;">
                    <img src="ppts/odoo-erp-support.svg" style="width: 100px; height:100px; margin-bottom: 20px;" class="center-block"/>
                    <p><a href="https://www.pptssolutions.com/odoo-erp-support-and-maintenance/" style="font-size:14px;">Odoo ERP Support</a></p>
                </div>
            </div>
        </div>
         <div class="oe_span12">
            <h3 style="margin-top:20px;font-size:25px;font-weight:500;">Other Services</h3>
             <ul style="font-size: 14px;line-height: 28px;">
                 <li>Artificial Intelligence</li>
                 <li>Data Analytics  </li>
                 <li>Web Application Development</li>
                 <li>Mobile Application Development </li>
             </ul>
         </div>
        <div class="oe_span12">
            <h3 style="margin-top:20px;font-size:20px;font-weight:500;text-align:center;"> Feel free to contact us for any queries</h3>
            <p style="text-align:center;font-size:20px;text-decoration: underline;">
                <a style="background: #fffd67;" href="https://www.pptssolutions.com/contact-us/">Contact Us Now</a></p>
        </div>
        <div class="oe_span12" style="margin-top:30px;">
            <p style="font-weight:600;font-size:14px;"><i>Stay Connected with Us! Let's Grow Together!</i></p>
            <p style="font-size: 14px; margin-top: 10px;">Email us to: <a href="mailto:rizwan.basha@pptsglobal.com"><i class="fa fa-envelope-o"/> rizwan.basha@pptsglobal.com</a></p>
            <p style="font-size: 14px; margin-top: 10px;">Skype ID:<a href="skype:pyramidrizwan?chat"> <i class="fa fa-skype"/> pyramidrizwan</a></p>
            <p style="font-size: 14px; margin-top: 10px;">Explore more about us: www.pptssolutions.com </p>
        </div>
    </div>
</section>
<section class="oe_container oe_separator">
</section>
