<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Employee HR Loan</h2>
        <h3 class="oe_slogan">Create Loan for Employee</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Loan.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Create Loan for employee and set the installment amount or duration of the loan. 
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Skip Loan Installment</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                After creation of loan if the employee request for skip the loan installment for perticular month then you can skip the loan installment for using this form. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="skip_loan.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan"> Salary Structure with loan salary rule</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="salary_structure.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Add the loan salary rule in salary structure.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Payslip with Loan Installment</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Loan Installment automatically deduct form salary.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="payslip_with_loan.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan"> Payslip skip the Loan Installment</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="payslip_without_loan.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                if the Employee request for skip the installment of the loan then that month installment is not deduct from the salary.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Employe Payslip Report</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Employee Payslip Report
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="payslip_report.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Get In Touch</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="logo.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
				 <div class="oe_author"> <a href="http://www.devintelle.com/" target="_blank">  Devintelle Solutions </a></div>
                 <div class="oe_job">Contact Us  For <a href="mailto:info@devintelle.com" target="_top"> Help, Support & More Customization</a>.</div>
            </p>
        </div>
    </div>
</section>

