.oe_employee_vignette {
  padding: 8px 8px;
  min-height: 100px;
}

.oe_employee_image, .oe_employee_details {
  display: inline-block;
  vertical-align: top;
}

.oe_employee_image {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-collapse: separate;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.oe_employee_picture {
  width: 100px;
  height: auto;
  clip: rect(10px, 100px, 110px, 0px);
}

.oe_employee_picture_wide {
  height: 100px;
  width: auto;
  clip: rect(0px, 115px, 100px, 15px);
}

.oe_employee_details {
  width: 210px;
  font-size: 13px;
  padding: 2px 5px;
  color: #4c4c4c;
  min-height: 120px;
}

.oe_employee_details h4 {
  margin: 0;
  font-size: 13px;
}

.oe_employee_details h4 a {
  color: #4c4c4c;
}

.oe_employee_details h4 a:hover {
  text-decoration: underline;
}

.oe_employee_details ul {
  margin: 3px 0 5px;
  padding: 0;
  list-style: none;
}

.oe_employee_details li {
  margin: 2px 0;
  padding: 0;
}

.oe_systray #oe_attendance_signn_in_out_icon {
    color: white;
}
