<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Inventory & Movement Report in Excel</h2>
        
         <h4 class="oe_slogan">Author : ItechResources</h4>
    </div>
    <div class="oe_row oe_spaced">
        <div>
            This module helps to print Current Stock Report for all Products in each Warehouse with XLS.
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div>
                 <b>P.S</b>: To install this module, you need also the report_xlsx module.
        </div>
    </div>
    <div class="oe_row oe_spaced">
        
        <div class="oe_span6">
            <p class='oe_mt32'>
                Go to Inventory -> Reports -> Stock Excel Report. Now a wizard will appear on your screen.
                
                <div class="oe_row oe_padded">
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="new.png">
            </div>
        </div>
    </div>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <p class='oe_mt32'>There are several benefits of this manufacturing report. </p>
    <ul class="first last simple">
        <li><b>Report </b></li>
    
    </ul>
    <div class="oe_row oe_padded">
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="1.png">
            </div>
        </div>
    </div>
    <p class='oe_mt32'>Once Downloaded the report will tell you the required information in a very simple but informative form.
Headings in Report: </p>
    <ul>
        <li>Code</li>
        <li>Name</li>
        <li>Opening Balance</li>
        <li>Purchase</li>
        <li>Production</li>
        <li>Transfer</li>
        <li>Adjustment (+/-)</li>
        <li>Issue to Production</li>
        <li>Sale</li>
        <li>Closing Balance</li>
        
    
    
    </ul>
</section>
<br></br>
<br></br>
<section>
    
    <ul class="first last simple">
        <li><b>Dates/Period Flexibility.</b> </li>
        <p>A report can be obtained of flexible dates. There is no binding on users to select a week, monthly or a year period.  And by clicking on “Value Wise Report” you can also get inventory value in the report. </p>
    
        <div class="oe_row oe_padded">
            <div class="oe_span12">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="2.png">
                </div>
            </div>
        </div>
    </ul>
    <ul class="first last simple">
        <li><b>Category and Product selection </b></li>
        <p class='oe_mt32'>Not only you can choose Specific category(s) but you can also choose specific product(s) in that category.</p>
    
        <div class="oe_row oe_padded">
            <div class="oe_span12">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="3.png">
                </div>
            </div>
        </div>
    
    </ul>
    
</section>




